*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ancho{
    max-width: 1200px;
    margin: auto;
    border: 1px blue solid;
}

ul.tabs{
    list-style: none;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

ul.tabs li{
    border: 1px #999 solid;
    background: #e0e0e0;
    width: 100%;
    text-align: center;
}

ul.tabs li a{
    display: inline-block;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
}

ul.tabs li a:hover{
    background: #ccc;
}

html ul.tabs li.active{
    background: #fff;
}

html ul.tabs li.active a:hover{
    background: #fff;
}